@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
    font-size: 100%;
    font-family: 'Inter UI', sans-serif;
    background-color: #302f2e;
}

.App {
    width: 61em;
    margin: auto;
    padding: 3em 6em 4.5em;
    background-color: #ffffff2b;
    color: #fff;
    margin-top: 5em;
}

.historyButton {
    padding: 5px;
    margin-bottom: 1em;
}

.buttonSend {
    padding: 5px;
    margin-top: 1em;
    float: right;
}

.allMessages {
    width: 100%;
    height: 30vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2rem;
    overflow: auto;
    padding: 1em;
}

.newMessage {
    font-family: 'Inter UI', sans-serif;
    width: 100%;
    height: 5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
}

.usernameBox {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chatLine {
    margin-bottom: 0.3em;
}


.form-register {
    text-align: center;
}

.reports {
    padding: 1em;
    line-height: 2.5em;
     box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
     background-color: #ffffff21;

}

.addNav {
    margin-bottom: 3em;
    padding: 6px;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    background-color: #ffffff21;
}

.input-submit {
    height: 3em;
}

input {
    height: 2em;
    width: 40%;
    text-align: center;
    margin-top: 1em
}

h1 {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1em;
    font-weight: 200;
}

h3 {
    font-size: 1em;
    font-weight: 500;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f3eaea54;
    padding: 2px;
}

p {
    font-size: 1.2em;
    font-weight: 200;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    margin-right: 1em;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

li a:hover {
    text-decoration: underline;
}

h2 {
    text-transform: uppercase;
}

nav {
    left: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #302f2e;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    z-index: 2000;
    color: #303030;
    border-bottom: 1px solid white;
    padding: 1em;
    background-color: #525151;
}

.github {
    text-decoration: none;
    color: white;
}

.line {
    border-top: 1px solid white;
}

.footer {
    width: 100%;
    position: relative;
    left: 0;
    border-top: 1px solid white;
    margin-top: 5em;
    padding-top: 1em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    top: 3em;
    clear: both;
}

.me {
    width: 29%;
    float: right;
    margin-left: 3em;
}
